@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Oxygen:wght@300;400&family=Roboto:wght@100;400&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  scrollbar-width: thin;
  /* Firefox */
}

body::-webkit-scrollbar {
  width: 10px;
  background: rgba(0, 0, 0, 0.432);
}

body::-webkit-scrollbar-thumb {
  width: 10px;
  background: rgba(255, 255, 255, 0.432);
  border-radius: 12px;
}

.Home {
  background: url("../Images/Netflix-.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

nav {
  width: 100%;
  height: 60px;
  padding: 0px 10px;
  background: #0000008e;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav li {
  margin: auto 15px;
  font-size: 1rem;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 425px) {
  nav li {
    list-style: none;
  }
  nav li span {
    display: none;
  }
  nav li ion-icon {
    font-size: 18px;
  }
}

nav .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 425px) {
  nav .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .right li {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    list-style: none;
  }
  nav .right li span {
    display: none;
  }
}

@media screen and (min-width: 426px) and (max-width: 900px) {
  nav .right {
    background-color: #00ff4c;
  }
}

.TopContainer {
  width: 100%;
  height: 500px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-image: -webkit-gradient(linear, left top, right top, from(#000000), to(#00000000));
  background-image: linear-gradient(to right, #000000, #00000000);
}

@media screen and (max-width: 425px) {
  .TopContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }
  .TopContainer .text {
    width: 100%;
  }
  .TopContainer .text h2 {
    color: #00ff4c;
  }
}

.TopContainer .text {
  width: 40%;
}

@media screen and (max-width: 425px) {
  .TopContainer .text {
    width: 100%;
  }
  .TopContainer .text h2 {
    font-size: 32px !important;
    margin: 5px auto;
  }
}

.TopContainer .text h2 {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
}

.TopContainer .text p {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.TopContainer .plansdiv {
  width: 50%;
}

@media screen and (max-width: 425px) {
  .TopContainer .plansdiv {
    width: 100vw;
    margin: 10px;
  }
  .TopContainer .plansdiv .plan {
    width: 95% !important;
  }
  .TopContainer .plansdiv .plan .planTxt {
    width: 155px !important;
  }
}

.TopContainer .plansdiv .plan {
  height: 90px;
  width: 350px;
  margin: 10px auto;
  background-color: #ebebeb;
  background-image: url("../Images/Background plans.png");
  border-radius: 14px;
  border: solid 2px #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.TopContainer .plansdiv .plan .logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.TopContainer .plansdiv .plan .logo img {
  height: 60px;
  margin: 10px;
}

.TopContainer .plansdiv .plan .planTxt {
  width: 180px;
  color: #000;
  font-family: "Oxygen", sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 6px 4px;
}

.TopContainer .plansdiv .plan .planTxt .cricel {
  background-color: rgba(117, 210, 247, 0.432);
  height: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  margin: 5px 2px;
  border: 2px white solid;
  border-radius: 12px;
  text-align: center;
  font-size: 16px;
  font-family: "Baloo Da 2", cursive;
  padding: 0px 5px;
}

.TopContainer .plansdiv .plan .planTxt .cricel:nth-child(even) {
  background-color: rgba(153, 45, 255, 0.432);
}

.TopContainer .plansdiv .plan .planOptions {
  width: 90px;
  height: 35px;
  background: #ff7b7b;
  border-radius: 12px;
  margin: 28px auto;
  text-align: center;
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
  padding: 7px;
  -webkit-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

.TopContainer .plansdiv .plan .planOptions:hover {
  color: #ffffff;
  background: red;
}

.TopContainer .plansdiv .plan:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.Howitworks {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  background-color: #03000a;
}

.Howitworks .planh3 {
  font-size: 36px;
  font-family: "Oxygen", sans-serif;
  margin: 10px 10px 10px 70px;
  color: #ffffff;
  border-bottom: solid 1px white;
  padding-left: 10px;
}

@media screen and (max-width: 425px) {
  .Howitworks .planh3 {
    padding-left: 15px !important;
    margin: 10px 10px 10px 10px;
  }
}

.Howitworks .box {
  width: 80%;
  height: 300px;
  background-color: black;
  border: solid #ffffff65 1px;
  border-radius: 18px;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  -webkit-transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.Howitworks .box:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

@media screen and (max-width: 425px) {
  .Howitworks .box {
    width: 95%;
    margin: 20px auto;
    padding: 10px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 350px;
  }
}

.Howitworks .box .boximg {
  width: 40%;
  height: 100%;
  background-image: url(../Images/cards.PNG);
  border-radius: 18px;
  background-size: cover;
}

@media screen and (max-width: 425px) {
  .Howitworks .box .boximg {
    display: none;
  }
}

.Howitworks .box .information {
  border-radius: 18px;
  color: #ffffff;
  margin: 2px 10px;
}

@media screen and (max-width: 425px) {
  .Howitworks .box .information {
    padding: 10px 2px;
  }
  .Howitworks .box .information h2 {
    font-size: 28px !important;
  }
  .Howitworks .box .information li {
    font-size: 1.2rem !important;
  }
}

.Howitworks .box .information h2 {
  font-size: 38px;
  font-family: "Oxygen", sans-serif;
}

.Howitworks .box .information li {
  font-size: 20px;
  font-weight: 400;
  margin: 5px auto;
  font-family: "Roboto", sans-serif;
}

.Howitworks .Planscom {
  height: 500px;
  width: 100%;
  background: rgba(0, 0, 0, 0.432);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 425px) {
  .Howitworks .Planscom {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.Howitworks .Planscom .plan {
  border-radius: 18px;
  border: solid 1px gray;
  height: 450px;
  width: 300px;
  background: white;
  background-image: url("../Images/plan back.JPG");
  background-size: 110% 102%;
  background-position: -10px;
  background-repeat: no-repeat;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin: 0px 15px;
}

.Howitworks .Planscom .plan:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  background-position: -25px;
  -webkit-box-shadow: 5px 8px 15px 0px #00000054;
          box-shadow: 5px 8px 15px 0px #00000054;
}

@media screen and (max-width: 425px) {
  .Howitworks .Planscom .plan {
    width: 280px !important;
    margin: 10px auto;
  }
}

.Howitworks .Planscom .plan .topimg {
  height: 150px;
}

.Howitworks .Planscom .plan .topimg img {
  height: 150px;
  border-radius: 18px 18px 0 0;
  width: 298px;
  -o-object-fit: fill;
  object-fit: cover;
}

@media screen and (max-width: 425px) {
  .Howitworks .Planscom .plan .topimg img {
    width: 278px !important;
  }
}

.Howitworks .Planscom .plan .planD {
  color: black;
  padding: 0px 8px;
  margin: 10px auto;
}

.Howitworks .Planscom .plan .planD h3 {
  font-size: 32px;
  font-family: "Oxygen", sans-serif;
}

.Howitworks .Planscom .plan .planD ul {
  width: 100%;
  padding: 10px 0px 0px 25px;
}

.Howitworks .Planscom .plan .planD ul li {
  font-family: "Baloo Da 2", cursive;
  font-size: 20px;
  list-style: square;
  list-style-position: 2px;
  line-height: 25px;
}

.Howitworks .Planscom .plan .buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Howitworks .Planscom .plan .buttons .button {
  height: 50px;
  width: 110px;
  border-radius: 18px;
  background-color: #ff0000;
  border: solid 2px #ff7e7e;
  text-align: center;
  margin: 5px auto;
  font-size: 18px;
  color: white;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.Howitworks .Planscom .plan .buttons .button:active {
  background-color: #a10000;
}

.getmail {
  width: 90%;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px auto;
  border: 1px solid #fff;
  border-radius: 22px;
}

.getmail .left {
  background: url(../Images/istockphoto-1320275763-612x612.jpg);
  width: 40%;
  height: 100%;
  background-size: contain;
  background-position-x: 100px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 425px) {
  .getmail .left {
    display: none;
  }
}

.getmail .right {
  width: 60%;
}

@media screen and (max-width: 425px) {
  .getmail .right {
    width: 100% !important;
  }
  .getmail .right h3 {
    font-size: 24px !important;
    margin: 5px auto;
  }
}

.getmail .right h3 {
  font-size: 34px;
  color: #ffffff;
  font-family: "Oxygen", sans-serif;
}

.getmail .right p {
  font-size: 20px;
  font-family: "Baloo Da 2", cursive;
  color: #ffffff;
  margin-left: 5px;
}

.WatchAd {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 90%;
  text-align: center;
  margin: 20px auto;
  padding: 30px 0px;
  border-top: 1px solid #ffffff;
}

.WatchAd h3 {
  color: white;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
}

.WatchAd p {
  color: #ddffe6;
  margin: 5px auto;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.WatchAd input {
  margin: 15px 10px;
  height: 40px;
  width: 250px;
  border-radius: 12px;
}

.WatchAd button {
  height: 40px;
  width: 150px;
  background-color: #ff0000;
  color: white;
  font-size: 18px;
  border-radius: 12px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.Adex {
  width: 80%;
  margin: 10px auto;
  text-align: center;
}

footer {
  height: 60px;
  width: 100%;
  background-color: #1b0018;
  border-top: 1px solid #5e5e5e;
  padding-top: 20px;
}

footer p {
  text-align: center;
  color: #a1a1a1;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

footer p a {
  text-decoration: none;
  color: #ff0000;
}
/*# sourceMappingURL=style.css.map */